.about-top-div {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem 0rem 2rem;
  margin-bottom: 6rem;
}

.about-top-left {
  width: 50%;
}

.about-top-right {
  width: 50%;
}

.about-top-left h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #090f47;
  padding-top: 2rem;
}

.about-top-left p {
  width: 70%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #8487a3;
}

.about-top-right {
  position: relative;
  margin-top: 4rem;
  margin-left: 2rem;
  /* margin-right: 2rem; */
}
.about-top-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #8487a3;
  margin: 0;
  padding-right: 2rem;
}

.what-we-do {
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}

.aboout-gallery {
  display: flex;
  padding-left: 2rem;
}
.gallery-images > img {
  max-width: 95%;
  height: auto;
  margin: 2rem;
}
/* .about-gallery {
  display: grid;
  padding: 2rem;
  grid-template-areas:
    "one one two three"
    "four five five six"
    "four five five six";
  margin-top: 4rem;
}

.image-gallery-1 > img {
    height: 100%;
}
.image-gallery-1 {
  width: 100%;
  position: relative;
  padding: 0.2rem;
  grid-area: one;
}
.image-gallery-2 > img {
    height: 100%;
}
.image-gallery-2 {
  width: 100%;
  position: relative;
  padding: 0.2rem;
  grid-area: two;
}
.image-gallery-3 {
  width: 100%;
  position: relative;
  padding: 0.2rem;
  grid-area: three;
}
.image-gallery-4 > img {
    height: 100%;
}
.image-gallery-4 {
  width: 100%;
  position: relative;
  padding: 0.2rem;
  grid-area: four;
}
.image-gallery-5 {
  width: 100%;
  position: relative;
  padding: 0.2rem;
  grid-area: five;
}
.image-gallery-6 > img {
    height: 100%;
}
.image-gallery-6 {
  width: 100%;
  position: relative;
  padding: 0.2rem;
  grid-area: six;
} */

/* .image-gallery img {
  width: 100%;
} */

.stand-out {
  margin-bottom: 6rem;
  padding: 4rem 2rem 4rem 2rem;
}

.stand-out-header h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  color: #090f47;
  padding-bottom: 2rem;
  text-align: center;
}

.stand-out > p {
  font-weight: 400;
  padding-bottom: 2rem;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #8487a3;
  text-align: justify;
}
.stand-out-header {
  position: relative;
  margin-top:4rem;
}
.why-us {
  position: absolute;
  top: -2rem;
  right: 22%;
}

.mission-vision-div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 5rem;
  margin-bottom: 6rem;
}

.mission {
  width: 50%;
}

.vision {
  width: 50%;
  margin-top: 15rem;
  margin-left: 5rem;
}

.mission-vision-head {
  position: relative;
}

.mission-vision-head h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  color: #8487a3;
  opacity: 0.2;
  margin: 0;
}

.mission-vision-head p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #8487a3;
}

.mission-vision-head > div {
  position: absolute;
  top: 20%;
  left: 20%;
}

.mission-vision-head > div > svg {
    margin-top: 1rem;
    margin-left: 1.5rem;
}
.mission-vision-head > div > p {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #090f47;
  width: 100%;
  line-height: 0;
  margin-bottom: -0.3rem;
}
.mission-vision-text {
  padding: 2rem;
  text-align: left;
}
.our-values {
  position: absolute;
  width: 10%;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 22.65px;
  transform: rotate(-7.1deg);
  top: 45%;
  left: 45%;
}

.our-values p {
  font-weight: 500;
  font-size: 12px;
  color: #090f47;
  margin: 0;
}

.team {
  margin-bottom: 6rem;
  padding: 2rem;
}

.team-header {
  margin-bottom: 5rem;
  text-align: center;
}

.team-header h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  color: #090f47;
}

.team-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #8487a3;
}

.board-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 8rem;
}

.board-img {
  border-radius: 210px;
  height: 100%;
  text-align: center;
}

.board-img img {
  width: 100%;
}

.board-img h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #090f47;
  margin-bottom: 0;
}

.board-img p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #8487a3;
}

.board-img:nth-child(even) {
  margin-top: 4rem;
}

.team-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-img {
  margin: 2rem;
  text-align: center;
}

.team-img:nth-child(odd) {
  margin-top: 5rem;
}

.team-img p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #8487a3;
}

.team-img h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #090f47;
  margin-bottom: 0;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .about-top-div {
    flex-direction: column;
    padding-top: 6rem;
  }

  .about-top-left {
    width: 100%;
  }

  .about-top-right {
    width: 100%;
  }

  .about-top-left h3 {
    font-size: 24px;
  }

  .about-top-left p {
    width: 100%;
    padding-top: 2rem;
  }

  /* .what-we-do {
    display: none;
  } */

  .stand-out {
    padding: 0;
  }

  .why-us {
    right: 2%;
  }
  .stand-out-header h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .stand-out p {
    font-size: 15px;
    line-height: 25px;
    padding: 2rem;
    letter-spacing: 0.02em;
  }

  .mission-vision-div {
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem;
    text-align: center;
  }

  .our-values {
    display: none;
  }

  .mission {
    width: 100%;
  }

  .vision {
    width: 100%;
    margin: 0;
  }

  .mission-vision-head > div {
    top: 15%;
    left: 36%;
  }

  .mission-vision-head p {
    text-align: left;
  }

  .board-img {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .board-img:nth-child(even) {
    margin-top: 0rem;
  }
  .team-header h3 {
    font-size: 24px;
  }
  .name-position {
    padding-top: 2rem;
  }
  .team-img {
    margin-bottom: 2rem;
  }

  .team-img:nth-child(odd) {
    margin: 0rem;
  }
}
