/* 
--------------------
Navbar Styling
--------------------
*/
/* Desktop view */

@media screen and (max-width: 1728px) {
  .mobileNavbar {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .nav {
    display: flex;
    /* position: fixed; */
    /* background-color: #6B5DD3; */
    background: linear-gradient(
      165.92deg,
      rgba(242, 241, 248, 0.73) 16.61%,
      rgba(242, 241, 248, 0.75) 89.8%
    );
    backdrop-filter: blur(40px);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .landingPageLogo {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .landingPageLogo > img {
    width: 36px;
    height: 36px;
  }
  .landingPageLogo > h2 {
    margin-left: 5px;
    margin-top: 10px;
    color: #090F47;
    /* color: #6b5dd3; */
    font-size: 22px;
  }
  .hamburger {
    display: none;
  }
  .navbarLinks {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-top: 0.4rem;
    margin: 0;
  }
  .navbarLink {
    display: flex;
  }
  .navbarLink > li {
    margin-right: 0.2rem;
    cursor: pointer;
  }
  .navbarLink {
    padding: 10px;
    color: #8487a3;
    font-size: 1rem;
  }
  /* .loginBtn > a {
      padding: 0.5rem;
      text-decoration: none;
      border: none;
      border-radius: 0.5rem;
      background: transparent;
      color: #fff;
      margin: 10px;
    } */
  .getStartedBtn > a {
    text-decoration: none;
    color: #fff;
}
.getStartedBtn {
    margin-left: 6rem;
    padding: 1rem;
    border: 2px solid #6b5dd3;
    border-radius: 0.5rem;
    background-color: #6b5dd3;
  }
  .desktopNavbarBtn {
    display: flex;
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
  .nav {
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 20;
  }
  .hamburger {
    display: flex;
  }
  .mobileNavbar {
    display: block;
    position: fixed;
    justify-content: center;
    /* align-items: center; */
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    flex-direction: column;
    background-color: #6b5dd3;
    transform: translateY(
      -70vh
    ); /* the element is transposed 300px to the left of where it's supposed to be */
    transition: transform 1s ease-out, visibility 1s;
    visibility: hidden;
    left: 0;
    right: 0;
    height: 70vh;
    padding: 2rem;
    z-index: 10;
  }
  .mobileNavbarShow {
    display: block;
    position: fixed;
    justify-content: center;
    /* align-items: center; */
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    flex-direction: column;
    background-color: #6b5dd3;
    transform: translateY(
      0
    ); /* the element is transposed 300px to the left of where it's supposed to be */
    transition: transform 1s ease-out, visibility 1s;
    visibility: visible;
    top: 6rem;
    left: 0;
    right: 0;
    height: 70vh;
    padding: 2rem;
    z-index: 10;
  }
  .mobileNavbarLinks {
    list-style-type: none;
    padding-left: 0.5rem;
  }
  .navbarLink > li {
    font-size: 1rem;
    color: #fff;
  }
  /* .loginBtn1 > a {
    padding: 0.5rem;
    text-decoration: none;
    border: 2px solid #6b5dd3;
    border-radius: 0.5rem;
    background-color: #6b5dd3;
    color: #fff;
    margin: 10px;
  } */
  .getStartedBtn1 {
    margin-top: 2rem;
  }
  .getStartedBtn1 > a {
    padding: 0.5rem;
    text-decoration: none;
    border: 2px solid #6b5dd3;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #6b5dd3;
    margin: 10px;
  }
  .mobileNavbarBtn {
    display: flex;
  }
  .navbarLinks {
    display: none;
  }
  .loginBtn {
    display: none;
  }
  .getStartedBtn {
    display: none;
  }
}
