@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

* {
  font-family: 'Metropolis', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 3rem 6rem;
  background: linear-gradient(119.4deg, #F8F7FB 1.4%, rgba(248, 247, 251, 0.99) 114.63%);
  border-radius: 40px;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  body {
    margin: 0.3rem 0.7rem;
    zoom: 0.9;
  }
}