@import url('https://fonts.googleapis.com/css?family=Inter:300,300i,400,400i,500,600,600i,700,700i,800,900');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

*{
  font-family: Metropolis, sans-serif;
  padding: 0;
  box-sizing: border-box;
  /* margin: 0.8rem; */
}

html, body {
  background: linear-gradient(119.4deg, #F8F7FB 1.4%, rgba(248, 247, 251, 0.99) 114.63%);
  /* padding: 0rem 3rem; */
  margin: 0;
  padding: 0;
}

/* Medium devices (landscape tablets, 768px and down) */
/* @media only screen and (max-width: 768px) {
  *{
    margin: 0.3rem;
* {
  font-family: 'Metropolis', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 3rem 6rem;
  background: linear-gradient(119.4deg, #F8F7FB 1.4%, rgba(248, 247, 251, 0.99) 114.63%);
  border-radius: 40px;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  body {
    zoom: 0.9;
    padding: 0;
  }
}